/* Default styles for all screen sizes */
.popup {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust for smaller screens */
    max-width: 700px;
    height: auto;
    padding: 20px;
    background-color: #36454F;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup h2 {
    font-size: 1.8rem;
    margin-top: 0;
  }
  
  .popup p {
    font-size: 1.2rem;
  }
  
  .popup button {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    background-color: #5B6A75;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .popup button:hover {
    background-color: #354149;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .popup {
      padding: 10px;
      font-size: 14px;
    }
  
    .popup h2 {
      font-size: 1.5rem;
    }
  
    .popup p {
      font-size: 1rem;
    }
  
    .popup button {
      font-size: 1rem;
      padding: 6px 12px;
    }
  }